<h1>All Attendences</h1>
<table class="table table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">Checkin_time:</th>
      <th scope="col">Checkout_time:</th>
      <th scope="col">Working_hours:</th>
      <th scope="col">Status:</th>
    </tr>
  </thead>
<tbody>
    <tr>
      <td><%= attendance.checkin_time %></td>
      <td><%= attendance.checkout_time %></td>
      <td><%= attendance.working_hours %></td>
      <td><%= attendance.status %></td>
    </tr>
  </tbody>
</table>





