<div class="card" style="width: 60rem; left: 5rem; ">
<div class="card-body" >
<% unless Attendance.last&.checkout_time.nil? %>
  <%= button_to "checkin_time", user_attendances_path(user_id: current_user.id),method: :post %>
    <% else %>
  <%= button_to "checkout_time", user_attendance_path(attendance:{user_id: current_user.id}), method: :put %>
<% end %>

<div>  
  <div style= "margin-left: 70rem;"></div>
    <h2 style=" margin-left: 22rem; color:black" >Attendances List</h2>
    <%= paginate @attendances %>
    <p><%= render  @attendances %></p>
</div>
</div>
</div>

