<div class="card" style="width: 70rem; left: 5rem; ">
<div class="card-body" >
<h5 style="color:blue">Daily Status</h5>
<table class="table table-bordered border-primary">
  <thead>
    <tr>
<% current_user.daily_statuses.each do |d| %>
  <th scope="col">daily_status:</th>
</tr>
</thead>
<tbody>
  <tr>
  <td><%= d.daily_status %></td>
  <td><%= link_to "Edit", edit_daily_status_path(d) %></td>
</tr>
<% end %>
</tr></tbody></table>

<div>
<h5 style="color:blue">Add a daily status:</h5>
<%= render 'daily_statuses/form' %></div></div>
</div>

  