<div class="card" style="width: 70rem;">
  <div class="card-body" >
    <h5 style="color: black; margin-left: 32rem;">Daily Status</h5>
    <table class="table table-bordered border-dark">
      <thead>
        <tr>
          <% current_user.daily_statuses.each do |d| %>
          <th scope="col">Today Status:</th>
          <th scope="col">Date:</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <td><%= d.daily_status %></td>
            <td><%= d.date %></td>
            <td><%= link_to "Edit", edit_daily_status_path(d) %></td>
          </tr>
          <% end %>
          </tr>
        </tbody>
      </table>

      <div>
        <h5 style="color:black">Add a daily status:</h5>
      <%= render 'daily_statuses/form' %>
     </div>
  </div>
</div>

  